/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #1cbdd7;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
  flex: 1 1 auto;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

tr.mat-row {
  height: 36px !important;
}

.info-panel {
  background-color: #424242;
  color: white;
}

.error-panel {
  background: rgb(153, 50, 50);
  color: white;
}

.table-controls {
  margin-bottom: 5px;
}

.table-controls .mat-raised-button {
  margin-left: 5px;
}

.table-controls .mat-raised-button:first-child {
  margin-left: 0;
}

.mat-header-cell:first-of-type, .mat-cell:first-of-type {
  padding-left: 24px !important;
}

.mat-header-cell, .mat-cell {
  padding: 5px 5px 5px 0 !important;
}

.scrollable-grid {
  overflow: auto;
}
