<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Мероприятие</h1>
  <mat-dialog-content>
    <div class="dialog-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Дата" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error app-validation-error [control]="form.get('date')" propertyName="Дата"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="name" placeholder="Название" required cdkFocusInitial>
          <mat-option *ngFor="let group of groups" [value]="group.name">
            {{group.name}}
          </mat-option>
        </mat-select>
        <mat-error app-validation-error [control]="form.get('name')" propertyName="Название"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="eventPlaceId" placeholder="Место" required>
          <mat-option *ngFor="let eventPlace of eventPlaces" [value]="eventPlace.id">
            {{eventPlace.name}} ({{eventPlace.city.name}})
          </mat-option>
        </mat-select>
        <mat-error app-validation-error [control]="form.get('eventPlaceId')" propertyName="Место"></mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!editMode">
        <input matInput type="url" formControlName="docUrl" placeholder="URL документа" required>
        <mat-error app-validation-error [control]="form.get('docUrl')" propertyName="URL документа"></mat-error>
      </mat-form-field>
      <mat-slide-toggle *ngIf="completedControlVisible" formControlName="enabled">Включить</mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!form.valid">OK</button>
    <button mat-button type="button" mat-dialog-close>Отмена</button>
    <button mat-button *ngIf="editMode" type="button" [disabled]="eventActive || !form.get('enabled').value"
            (click)="onDefaultButtonClick()">По-умолчанию</button>
  </mat-dialog-actions>
</form>
