.mat-select {
  width: fit-content !important;
  min-width: 100%;
}

.mat-form-field-infix {
  min-width: 25px !important;
  width: fit-content !important;
}

.mat-select .mat-select-value {
  width: fit-content;
  min-width: 2ch;
  max-width: 25ch;
}
.mat-select .mat-select-placeholder {
  width: fit-content;
  min-width: 10ch;
}

.sex-label {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .sex-text {
    display: none;
  }
}
