<ng-container *ngIf="eventId">
  <mat-form-field class="full-width">
    <input #docUrlModel="ngModel" matInput type="url" placeholder="URL документа" [(ngModel)]="docUrl" required url>
    <mat-error app-validation-error [control]="docUrlModel" propertyName="URL документа"></mat-error>
  </mat-form-field>
  <div class="table-controls">
    <button mat-raised-button (click)="downloadDocData(); docUrlModel.reset();" [disabled]="!docUrlModel.valid">Загрузить</button>
  </div>
  <div *ngIf="eventMembers" class="scrollable-grid">
    <table mat-table *ngIf="eventMembers.length > 0; else emptyText" [dataSource]="eventMembers" class="mat-elevation-z8">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let member">{{member.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let member">{{member.name}}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
        <td mat-cell *matCellDef="let member">{{member.phoneNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member">
          <button mat-icon-button (click)="edit(member)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member">
          <button mat-icon-button (click)="delete(member)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #emptyText>
      <span>Список участников мероприятия пуст.</span>
    </ng-template>
  </div>
</ng-container>
<ng-container *ngIf="!eventId">
  <span>Нет данных о текущем мероприятии.</span>
</ng-container>
