.sidenav-container {
  height: 100%;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav {
  width: 270px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.app-title {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.app-title > .mat-icon {
  padding-left: 6px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
}

footer {
  text-align: center;
  font-size: small;
  flex: 0 0 auto;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.mat-button, .mat-icon-button {
  margin-left: 5px;
}

::ng-deep .block-ui-spinner {
  top: 50% !important;
}

.hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
}

.mat-datepicker-toggle-active {
  color: #ff8cbe;
}

.mat-action-list {
  padding-top: 0;
}

@media only screen and (max-width: 768px) {
  .layout-button {
    display: none;
  }
  .layout-small-button {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .layout-button {
    display: block;
  }
  .layout-small-button {
    display: none;
  }
}

