<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      mode="over">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="isAdmin">
        <a mat-list-item routerLink="/events">
          <mat-icon>event</mat-icon>
          <span class="nav-caption">Мероприятия</span>
        </a>
        <a mat-list-item routerLink="/event-places">
          <mat-icon>domain</mat-icon>
          <span class="nav-caption">Места мероприятий</span>
        </a>
        <a mat-list-item routerLink="/users">
          <mat-icon>supervised_user_circle</mat-icon>
          <span class="nav-caption">Пользователи</span>
        </a>
        <mat-divider></mat-divider>
      </ng-container>
      <ng-container *ngIf="loggedIn">
        <mat-action-list>
          <button mat-list-item (click)="createEvent()">
            <mat-icon>event_note</mat-icon>
            <span class="nav-caption">Создать мероприятие</span>
          </button>
        </mat-action-list>
        <mat-divider></mat-divider>
      </ng-container>
      <a mat-list-item routerLink="/home">
        <mat-icon>favorite</mat-icon>
        <span class="nav-caption">Расставить симпатии</span>
      </a>
      <a mat-list-item routerLink="/results">
        <mat-icon>message</mat-icon>
        <span class="nav-caption">Посмотреть результаты</span>
      </a>
      <a mat-list-item routerLink="/event-members">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">Инфо об участниках</span>
      </a>
      <ng-container *ngIf="loggedIn">
        <mat-divider></mat-divider>
        <mat-action-list>
          <button mat-list-item (click)="shutdown()">
            <mat-icon>power_off</mat-icon>
            <span class="nav-caption">Завершить работу</span>
          </button>
        </mat-action-list>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="toolbar-fixed-top">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="app-title">Happy Way <mat-icon>favorite</mat-icon></div>
      <span class="fill-remaining-space"></span>
      <ng-container *ngIf="loggedIn">
        <app-sex-select></app-sex-select>
        <button class="layout-button" mat-button (click)="shutdown()">
          <mat-icon>power_off</mat-icon>
          <span class="nav-caption">Завершить работу</span>
        </button>
        <button class="layout-small-button" mat-icon-button (click)="shutdown()">
          <mat-icon>power_off</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <mat-divider></mat-divider>
      Copyright &copy; {{date | date: 'yyyy'}} Happy Way. Все права защищены.
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50"
                      [backdropEnabled]="true" [positionGloballyCenter]="true">
</app-progress-spinner>
