<mat-sidenav-container *blockUI="''; delayStart: 500; delayStop: 500;" class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      mode="over">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="isAdmin">
        <a mat-list-item routerLink="/events">
          <mat-icon>event</mat-icon>
          <span class="nav-caption">Мероприятия</span>
        </a>
        <a mat-list-item routerLink="/users">
          <mat-icon>supervised_user_circle</mat-icon>
          <span class="nav-caption">Пользователи</span>
        </a>
        <mat-divider></mat-divider>
      </ng-container>
      <mat-action-list>
        <button mat-list-item (click)="createEvent()">
          <mat-icon>event_note</mat-icon>
          <span class="nav-caption">Создать мероприятие</span>
        </button>
      </mat-action-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/home">
        <mat-icon>favorite</mat-icon>
        <span class="nav-caption">Рассчитать симпатии</span>
      </a>
      <a mat-list-item routerLink="/results">
        <mat-icon>message</mat-icon>
        <span class="nav-caption">Посмотреть результаты</span>
      </a>
      <a mat-list-item routerLink="/event-members">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">Инфо об участниках</span>
      </a>
      <ng-container *ngIf="loggedIn">
        <mat-divider></mat-divider>
        <mat-action-list>
          <button mat-list-item (click)="logout()">
            <mat-icon>power_off</mat-icon>
            <span class="nav-caption">Завершить работу</span>
          </button>
        </mat-action-list>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="app-title">Happy Way <mat-icon>favorite</mat-icon></div>
      <span class="fill-remaining-space"></span>
      <app-sex-select *ngIf="loggedIn"></app-sex-select>
      <!-- <input [matDatepicker]="picker" class="hide" (dateChange)="dateChange($event)">
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle> -->
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
