.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 270px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.app-title {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.app-title > .mat-icon {
  padding-left: 6px;
}

main {
  margin: 5px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

::ng-deep .block-ui-spinner {
  top: 50% !important;
}

.hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
}

.mat-datepicker-toggle-active {
  color: #ff8cbe;
}

.mat-action-list {
  padding-top: 0;
}

@media only screen and (max-width: 1200px) {
  .mat-toolbar {
    height: 56px;
  }

  main {
    height: calc(100% - 66px);
  }
}

@media only screen and (min-width: 1200px) {
  .mat-toolbar {
    height: 64px;
  }

  main {
    height: calc(100% - 74px);
  }
}
